<div class="header">
      <div>
        <img class="header-image" src="img/building.png" alt="building" style="width: 100%;">
      </div>
</div>

		<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
			<div class="container">
				<div id="navbar">
					<ul class="nav navbar-nav">
						<li class="active nav-1"><a href="/">Logo here</a></li>
						<li class="nav-1"><a href="/login">Login Portal</a><br><br></li>
					</ul>
				</div>
			</div>
		</nav>
